div {
	margin: 0%;
	height: 2em;
	display: flex;
	flex-direction: row;
	background-color: #F7B538;
	justify-content: space-around;
}

.hamburger {
  width: 3em;
	height: 2em;
}

 header {
	font-size: larger;
	color: #D91E36;
 }
