@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
.gnrlContainer {
  display: flex;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  flex-direction: column;
  display: grid;
}

body {
  background-color: #767522;
  }
  
}